.todo-create{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 99%;
  border: 1px solid #f1f1f1;
  border-radius: 40px;
  margin: 10px 0;
  padding: 10px;
}
body{
  font-family: 'Courier New', Courier, monospace;
}

h1{
  margin: 0;

  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  text-align: center;
  color: #242424;
}

.main{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-input{
  width: 90%;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 10px 0;
  cursor:pointer;
}
.todo-input{
  width: 200%;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 40px;
  margin: 10px 0;
  margin-left: 10px;
}
.create-button{
  width: 80%;
  padding: 10px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  margin: 10px 0;
  color: f1f1f1;
  cursor: pointer;
}

.todo-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #f1f1f1;
  width: 97.5%;
  height: 50%;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 15px;
}

.todo-icons{
  font-size: 20px;
}

.circle, .edit, .check{
  margin-right: 10px;
  cursor: pointer;
}
